@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
body {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Dancing Script', cursive;
}
html {
	background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.6));
	background-color: #E94E77;

	height: 100%;
	width: 100%;
	overflow: hidden;
	touch-action: none;
	content-zooming: none;
}

canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: none;
  top:0;bottom;0;left:0;right:0;
}
#opening_screen {position:absolute;overflow:hidden;width:100%;height:100%;margin:0;z-index:500;background:rgba(245,11,229,0.15);cursor:pointer;}
.-


.Absolute-Center {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
h2 {
	height: 60px;
	color: #fff;
	letter-spacing: 10px;
	line-height: normal;
	text-align: center;
	z-index: 300;
	padding-bottom: 10%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	font-size: 4em;
	font-size: 4.5vw;
	font-family: 'Dancing Script', cursive;
	text-shadow: 0px 3px 0px #b2a98f,  0px 14px 10px rgba(0,0,0,0.15),  0px 24px 2px rgba(0,0,0,0.1),  0px 34px 30px rgba(0,0,0,0.1);
}
.hidden {
	display: none
}
.animated {
	visibility: visible !important;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}
/* PULL SOFT */
.pullSoftIn {
	-webkit-animation-name: pullSoftIn;
	animation-name: pullSoftIn;
}
@-webkit-keyframes pullSoftIn {
 from {
 -webkit-transform: scale(.9);
 opacity: 0;
}
}
@keyframes pullSoftIn {
 from {
 transform: scale(.9);
 opacity: 0;
}
}
.pullSoftOut {
	-webkit-animation-name: pullSoftOut;
	animation-name: pullSoftOut;
}
@-webkit-keyframes pullSoftOut {
 to {
 -webkit-transform: scale(.9);
 opacity: 0;
}
}
@keyframes pullSoftOut {
 to {
 transform: scale(.9);
 opacity: 0;
}
}
.pushSoftIn {
	-webkit-animation-name: pushSoftIn;
	animation-name: pushSoftIn;
}
@-webkit-keyframes pushSoftIn {
 from {
 -webkit-transform: scale(1.1);
 opacity: 0;
}
}
@keyframes pushSoftIn {
 from {
 transform: scale(1.1);
 opacity: 0;
}
}
.pushSoftOut {
	-webkit-animation-name: pushSoftOut;
	animation-name: pushSoftOut;
}
@-webkit-keyframes pushSoftOut {
 to {
 -webkit-transform: scale(1.1);
 opacity: 0;
}
}
@keyframes pushSoftOut {
 to {
 transform: scale(1.1);
 opacity: 0;
}
}
/* ====================================================================== *
     Animation 
 * ====================================================================== */

.spinning {
	-webkit-animation: spinaround 8s infinite linear;
	animation: spinaround 8s infinite linear;
}
 @-webkit-keyframes spinaround {
 to {
-webkit-transform:rotateY(360deg)
}
}
@keyframes spinaround {
 to {
transform:rotateY(360deg);
-ms-transform:rotateY(360deg);
}
}
/* ROTATE EDGE IN */
.roEdgeUpIn {
	-webkit-animation-name: roEdgeUpIn;
	animation-name: roEdgeUpIn;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
@-webkit-keyframes roEdgeUpIn {
 0% {
 opacity: 0;
 -webkit-transform-origin: 50% 0;
 -webkit-transform: perspective(1200px) rotateX(-90deg);
}
 100% {
 -webkit-transform-origin: 50% 0;
 -webkit-transform: perspective(1200px);
}
}
@keyframes roEdgeUpIn {
 0% {
 opacity: 0;
 transform-origin: 50% 0;
 transform: perspective(1200px) rotateX(-90deg);
}
 100% {
 transform-origin: 50% 0;
 transform: perspective(1200px);
}
}

.roEdgeUpOut {
	-webkit-animation-name: roEdgeUpOut;
	animation-name: roEdgeUpOut;
	-webkit-animation-duration: 5s;
	animation-duration: 3s;
}
@-webkit-keyframes roEdgeUpOut {
 0% {
 -webkit-transform-origin: 50% 0;
 -webkit-transform: perspective(1200px);
}
 100% {
 opacity: 0;
 -webkit-transform-origin: 50% 0;
 -webkit-transform: perspective(1200px) rotateX(-90deg);
}
}
@keyframes roEdgeUpOut {
 0% {
 transform-origin: 50% 0;
 transform: perspective(1200px);
}
 100% {
 opacity: 0;
 transform-origin: 50% 0;
 transform: perspective(1200px) rotateX(-90deg);
}
}
.roTwistUpOut {
	-webkit-animation-name: roTwistUpOut;
	animation-name: roTwistUpOut;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}
@-webkit-keyframes roTwistUpOut {
 0% {
 opacity: 1;
 -webkit-transform-origin: 50% 50% -800px;
 -webkit-transform: perspective(800px) translate3d(0, 0, -800px) rotateY(0) scale(1);
}
 100% {
 opacity: 0;
 -webkit-transform-origin: 50% 50% -800px;
 -webkit-transform: perspective(800px) translate3d(0, -200%, -800px) rotateY(1080deg) scale(0);
}
}
@keyframes roTwistUpOut {
 0% {
 opacity: 1;
 transform-origin: 50% 50% -800px;
 transform: perspective(800px) translate3d(0, 0, -800px) rotateY(0) scale(1);
}
 100% {
 opacity: 0;
 transform-origin: 50% 50% -800px;
 transform: perspective(800px) translate3d(0, -200%, -800px) rotateY(1080deg) scale(0);
}
}
/* ROTATE TWIST IN */
.roTwistLeftIn {
	-webkit-animation-name: roTwistLeftIn;
	animation-name: roTwistLeftIn;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
@-webkit-keyframes roTwistLeftIn {
 0% {
 opacity: 0;
 -webkit-transform-origin: 50% 50% -400px;
 -webkit-transform: perspective(800px) translate3d(-200%, 0, -400px) rotateX(1080deg) scale(0);
}
 100% {
 opacity: 1;
 -webkit-transform-origin: 50% 50% -400px;
 -webkit-transform: perspective(800px) translate3d(0, 0, -400px) rotateX(0) scale(1);
}
}
@keyframes roTwistLeftIn {
 0% {
 opacity: 0;
 transform-origin: 50% 50% -400px;
 transform: perspective(800px) translate3d(-200%, 0, -400px) rotateX(1080deg) scale(0);
}
 100% {
 opacity: 1;
 transform-origin: 50% 50% -400px;
 transform: perspective(800px) translate3d(0, 0, -400px) rotateX(0) scale(1);
}
}
.roTwistRightIn {
	-webkit-animation-name: roTwistRightIn;
	animation-name: roTwistRightIn;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 7s;
	animation-duration: 7s;
}
@-webkit-keyframes fadeIn {
 from {
opacity: 0;
}
}
@keyframes fadeIn {
 from {
opacity: 0;
}
}
.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	-webkit-animation-duration: 7s;
	animation-duration: 7s;
}
@-webkit-keyframes fadeOut {
 to {
opacity: 0;
}
}
@keyframes fadeOut {
 to {
opacity: 0;
}
}


.player_container {position:absolute;top:5%;right:5%;font-weight:bold;text-align:center;letter-spacing:2px;z-index:500;}


p.track {
letter-spacing:2px;
font-weight:bold;
  color: #ffffff;
}
p.track span {
  color: #999999;
}
.container {margin:50px;}
button {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}
button[data-am-button^="large"] {
  width: 60px;
  height: 60px;
  margin: 0 5px;
}
button[data-am-button^="large"] i {
  font-size: 25px;
}
button[data-am-button^="small"] {
  width: 40px;
  height: 40px;
}
button[data-am-button^="small"] i {
  font-size: 14px;
}
button:hover {
  color: #999999;
  border-color: #999999;
}
button:focus {
  outline: none;
}
#progress-bar {
  width: 100%;
  background-color: #c20315;
  height: 5px;
  position: relative;
  margin: 1em 0;
}
#progress-bar #progress {
  background-color: blue;
  height: 5px;
  position: absolute;
  left: 0;
  -webkit-transition: width 2.5s linear 0;
  transition: width 2.5s linear 0;
}
/* ===================================================*
    
     ."".    ."",       
     |  |   /  /
     |  |  /  /
     |  | /  /
     |  |/  ;-._ 
     }  ` _/  / ;
     |  /` ) /  /             PEACE and LOVE
     | /  /_/\_/\
     |/  /      |           Mark in New Orleans
     (  ' \ '-  |
      \    `.  /
       |      |
       |      |

	
	
/* ===================================================*
